

<div >
  <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fjz60hqkzuj31780fqqkl.jpg" width = "100%" >
</div>

<br>
<br>

<div class="col-md-12">


  <div class="group">
    <%= link_to("新建讨论组", new_group_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>讨论组标题</td>
        <td>讨论组描述</td>
        <td>讨论组建立者 </td>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td>#</td>
          <td><%= link_to(group.title, group_path(group)) %></td>
          <td><%= group.description %></td>
          <td> <%= group.user.email %> </td>
          <td>

          <% if current_user && current_user == group.user %>
              <%= link_to("编辑", edit_group_path(group), class: "btn btn-sm btn-default")%>
              <%= link_to("删除", group_path(group),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>

            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
